{% extends "base.html" %}
{% load static %}
{% load custom_tags_and_filters %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'NEMO_tool_monitors/monitors.css' %}" />
{% endblock %}
{% block title %}Monitors{% endblock %}
{% block content %}
    <div class="well well-monitors-dashboard">
        <ol class="breadcrumb breadcrumb-monitors-dashboard">
            {% if not selected_category %}
                <li class="active">Monitor Dashboard</li>
            {% else %}
                <li>
                    <a href="{% url 'tool_monitors' %}">Dashboard</a>
                </li>
                {% for ancestor in selected_category.ancestors %}
                    <li>
                        <a href="{% url 'tool_monitors' ancestor.id %}">{{ ancestor.name }}</a>
                    </li>
                {% endfor %}
                <li class="active">{{ selected_category.name }}</li>
            {% endif %}
        </ol>
        <ul class="list-inline list-inline-monitors-dashboard text-center">
            {% if categories %}
                {% for category in categories %}
                    <li class="dashboard-category-group-item text-center {% if category.alert_triggered %}alert-danger{% else %}alert-success{% endif %}"
                        onclick="window.location='{% url 'tool_monitors' category.id %}'">{{ category.name }}</li>
                {% endfor %}
            {% endif %}
            {% if tools_with_monitors %}
                {% for tool in tools_with_monitors %}
                    <li class="dashboard-tool-group-item text-center alert-info"
                        onclick="window.location='{% url 'tool_monitors_for_tool' tool.id %}'">
                        <strong>{{ tool.name }}</strong>
                        <br>
                        <small>{{ tool.monitors.count }} monitor{{ tool.monitors.count|pluralize }}</small>
                    </li>
                {% endfor %}
            {% endif %}
            {% if not tools_with_monitors and not categories %}
                <div class="dashboard-no-group-items">
                    no items to display.
                    {% if user.is_superuser and not selected_category and "django.contrib.admin"|app_installed %}
                        <br />
                        <br />
                        You can add monitors and categories by navigating to
                        <br>
                        <a href="{% url 'admin:app_list' 'tool_monitors' %}">Administration -> Detailed Administration -> Tool monitors</a>
                    {% endif %}
                </div>
            {% endif %}
        </ul>
        {% if tools_with_monitors or categories %}
            {% if selected_category or alert_logs %}
                <div class="panel-body">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active">
                            <a>Alert log</a>
                        </li>
                    </ul>
                    <div id="no-monitor-data"
                         class="tab-content panel panel-default panel-tab-content"
                         style="margin-bottom: 0">
                        <div class="panel-body">
                            {% if alert_logs %}
                                <ul style="margin-top: 10px;">
                                    {% for alert in alert_logs %}
                                        <li class="{% if alert.reset %}success-highlight{% else %}danger-highlight{% endif %}">
                                            [{{ alert.monitor.tool.name }} / {{ alert.monitor.name }}] {{ alert.description }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <i>There are no alerts for monitors in {{ selected_category|default:"the dashboard" }}.</i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
