.breadcrumb-monitors-dashboard
{
    border-bottom: 2px solid #dcdcdc;
    background-color: initial;
    border-radius: 0;
    margin-bottom: 0;
    font-size: x-large;
    padding: 8px 15px;
}

.well-monitors-dashboard
{
    margin-top: 25px;
    border-radius: 15px;
    padding: 0;
}

.list-inline-monitors-dashboard
{
    margin-bottom: 0;
}

.dashboard-tool-group-item,
.dashboard-category-group-item
{
    margin: 20px;
    padding: 30px;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    width: 220px;
    vertical-align: top;
}

.dashboard-no-group-items
{
    padding: 30px;
}

.monitor-data-notes
{
    white-space: pre-wrap;
    word-break: break-word;
    max-width: 28em;
    font-size: 12px;
}

.monitor-description
{
    padding: 12px 15px 16px;
    margin: 0;
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
}

.monitor-description :first-child
{
    margin-top: 0;
}

.monitor-description :last-child
{
    margin-bottom: 0;
}
